<div class="page-header">
	<h1><%= @user.full_name %></h1>
</div>

<% if @statuses %>
	<legend><%= @user.full_name %>'s Statuses</legend>
	<% @statuses.each do |status| %>
	<div class="well">
		<div style="padding-bottom:8px;"><%= status.content %></div>
		<%= link_to time_ago_in_words(status.created_at) + " ago", status_path(status) %> 
		</div>
	<% end %>
<% end %>
