/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */



body {padding-top: 50px;}

.rightnav {
	margin-right: 30px;
}

.leftnav {
	margin-left:60px;
}

@media (max-width:789px){
	.rightnav { margin-right: 5px; }
}

@media (max-width:767px){
	.leftnav {
		margin-left:0px;
	}
	.form-group {
		float:left;
		margin-right: 10px;
	} 
	
}

@media (max-width:340px){
		.span4 .well { width: 250px; }
}

@media (max-width:425px){
	.searchbar {
		width:95%;
	}
}

.form-group {
	width:260px;
} 

textarea#status_content, select{
	width:250px;
	height:200px;
}

.signin-width-input input {
	width: 200px;
} 

.span4 .well { width: 300px; }

.signin-check .boolean {
	margin-top:-10px;
}