/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.pic {
	padding-right: 15px;
}

@media (max-width: 991px){
	.moveover {
		margin-left: 30px;
	}
}

@media (max-width: 660px){
	.moveover {
		margin-left: 45px;
	}
}

@media (max-width: 460px){
	.moveover {
		margin-left: 60px;
	}
}

body {padding-top: 50px;}

.rightnav {
	margin-right: 30px;
}

.leftnav {
	margin-left:60px;
}

@media (max-width:848px){
	.rightnav { margin-right: 5px; }
}

@media (max-width:813px){
	.rightnav {
		margin-right:434px;
		
	}
	.paddingmobile {
		padding-top: 80px;
	}
	
}

@media (max-width:792px){
	.rightnav {
		margin-right:433px;
		
	}
	.paddingmobile {
		padding-top: 80px;
	}
	
}

@media (max-width:791px){
	.rightnav {
		margin-right:432px;
		
	}
	.paddingmobile {
		padding-top: 80px;
	}
	
}

@media (max-width:790px){
	.rightnav {
		margin-right:431px;
		
	}
	.paddingmobile {
		padding-top: 80px;
	}
	
}


@media (max-width:789px){
	.rightnav {
		margin-right:430px;
		
	}
	.paddingmobile {
		padding-top: 80px;
	}
	
}

@media (max-width:788px){
	.rightnav {
		margin-right:429px;
		
	}
	.paddingmobile {
		padding-top: 80px;
	}
	
}

@media (max-width:787px){
	.rightnav {
		margin-right:428px;
		
	}
	.paddingmobile {
		padding-top: 80px;
	}
	
}

@media (max-width:786px){
	.rightnav {
		margin-right:427px;
		
	}

	
}

@media (max-width:785px){
	.rightnav {
		margin-right:426px;
		
	}

}

@media (max-width:784px){
	.rightnav {
		margin-right:425px;
		
	}
}

@media (max-width:783px){
	.rightnav {
		margin-right:424px;
		
	}
}

@media (max-width:782px){
	.rightnav {
		margin-right:423px;
		
	}
}

@media (max-width:781px){
	.rightnav {
		margin-right:422px;
		
	}
}

@media (max-width:780px){
	.rightnav {
		margin-right:421px;
		
	}
}

@media (max-width:779px){
	.rightnav {
		margin-right:420px;
		
	}
}

@media (max-width:778px){
	.rightnav {
		margin-right:419px;
		
	}
}

@media (max-width:777px){
	.rightnav {
		margin-right:418px;
		
	}
}

@media (max-width:776px){
	.rightnav {
		margin-right:417px;
		
	}
}

@media (max-width:775px){
	.rightnav {
		margin-right:416px;
		
	}
}

@media (max-width:774px){
	.rightnav {
		margin-right:415px;
		
	}
}

@media (max-width:773px){
	.rightnav {
		margin-right:414px;
		
	}
}

@media (max-width:772px){
	.rightnav {
		margin-right:413px;
		
	}
}

@media (max-width:771px){
	.rightnav {
		margin-right:412px;
		
	}
}

@media (max-width:770px){
	.rightnav {
		margin-right:411px;
		
	}
}

@media (max-width:769px){
	.rightnav {
		margin-right:410px;
		
	}
}

@media (max-width:768px){
	.rightnav {
		margin-right:409px;
		
	}
}


.rightnavx2 {
	margin-right:30px;
}





@media (max-width:767px){
	.leftnav {
		margin-left:0px;
	}
	.form-group {
		float:left;
		margin-right: 10px;
	} 
	.rightnav {
		margin-right: 0px;
	}
	
}

@media (max-width:340px){
		.span4 .well { width: 250px; }
}

@media (max-width:425px){
	.searchbar {
		width:100%;
	}
}

.form-group {
	width:260px;
} 

textarea#status_content {
	width:250px;
	height:200px;
}

select {
	width:250px;
}

.signin-width-input input {
	width: 200px;
} 

.span4 .well { width: 300px; }

.signin-check .boolean {
	margin-top:-10px;
}